DATABASE_URL=""
DIRECT_URL=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="my_random_secret_string"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email của người sáng lập (Founder)
ADMIN_EMAIL=""

# Cloudinary (Quản lý ảnh/video)
CLOUDINARY_URL=""